.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 70px;
    background-color: #ffffff;
    border: solid #dfe4ec;
    color: #515860;
    font-weight: bold;
    font-size: 15px;
}

.header span {
    color: #aab0bc;
    font-family: "Calibri Light ";
    font-size: 12px;
}